{%  load static %}
   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="h2 text-center head">
        Админка
        <ul class="nav">
            <li>
                <a href="{% url 'adminapp:news_list' %}">Новости</a>
            </li>
            &nbsp;
             <li>
                <a href="{% url 'adminapp:album_list' %}">Галерея</a>
            </li>
        </ul>
        {% block content %}
        {% endblock %}
    </div>

</div>
</body>
</html>